<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
    <style>
        .form-control2{
        margin-left:3px;
        }
    </style>

</head>
<body>
<div layout:fragment="content" th:remove="tag">


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Log In page</h1>
            <form th:action="@{/login-attempt}" method="post" modelAtribute="student">

                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control1"
                           autofocus="autofocus"
                           placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control2"
                           placeholder="Password">
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button type="submit"
                                    name="login-submit"
                                    id="login-submit"
                                    class="form-control btn btn-info"
                                    value="Register"
                                    onclick="/login-attempt">
                                Log In </button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>

    <p><a href="/" th:href="@{/}">Back to home page</a></p>

</div>
</body>
</html>